@charset "UTF-8";
body {
    background-color: silver;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    }

h1{
    color: black;
    }

h2 {
    color: gray;
    }
    
            